/* Margins and paddings for the whole webpage. */
* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #ffbc90;
    padding: 10px;
}

/* Portfolio Content Layout */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.portfolioItem {
    border-style: dashed;
    height: 200px;
    width: 150px;
    padding: 10px;
    margin: 20px;
}

aside {
    display: flex;
    justify-content: space-around;
}

#buttonList {
    display: flex;
    justify-content: space-around;
}

#backEnd, #frontEnd, #frameWorks {
    display: none;
}

@media (max-width: 768px) {
    aside {
        flex-direction: column;
        width: 100%;
    }

    #buttonList {
        flex-direction: column;
        justify-content: space-around;
    }
}